<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %} {% endblock %} - Flask Blog</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<header>
	  <!-- Fixed navbar -->
	  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand" href="/">🌶 Flask Blog</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarCollapse">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
	          <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
	        </li>
	        <li class="nav-item {% if request.path == '/blog' %}active{% endif %}">
	          <a class="nav-link" href="/blog">Блог</a>
	        </li>
	      </ul>
	      <div class="form-inline mt-2 mt-md-0">
	      	<div class="input-group">
	      	  <input id="search-input" type="text" class="form-control" placeholder="Поиск" aria-label="Поиск" aria-describedby="basic-addon2">
	      	  <div class="input-group-append">
	      	    <button id="search-button" class="btn btn-outline-secondary" type="button">🔍</button>
	      	  </div>
	      	</div>
	    </div>
	  </nav>
	</header>
	<main role="main" class="container">
	{% block content %}{% endblock %}
	</main>
	<footer class="footer">
	  <div class="container">
	    <span class="text-muted">Design: Bootstrap Examples | Code with ♥ by <a href="https://codeberg.org/rkozlov/flask-blog">Roman Kozlov</a></span>
	  </div>
	</footer>
	<script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>