{% extends 'base.html' %}
{% block title %}Категория: {{ items[0]['category'] }}{% endblock %}
{% block content %}
	<div class="card">
	  <div class="card-body">
	    <h1>Категория: {{ items[0]['category'] }}</h1>
	  </div>
	</div>
	<ul class="list-group">
	{% for item in items %}
	    <li class="list-group-item"><a href="/blog/{{ item['slug'] }}">{{ item['title'].capitalize() }}</a><p><small class="text-muted">{{ item['content'][0:190] }}....</p></small><small class="text-muted">{{ item['date'] }} &#8226; <a href="/category/{{ item['catslug'] }}">{{ item['category'] }}</a></small></li>  
	{% endfor %}
	{% if not items %}
	<li class="list-group-item"><a>В этой категории пока нет постов</a></li>
	{% endif %}
	</ul>
{% endblock %}