{% extends 'base.html' %}
{% block title %}{{ result['title'].capitalize() }}{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h1>{{ result['title'].capitalize() }}</h1>
    <small class="text-muted">{{ result['date'] }} &#8226; <a href="/category/{{ result['catslug'] }}">{{ result['category'] }}</a></small><br><br>
    <p>{{ (result['content']).replace('\n', '<br>')|safe }}</p>
  </div>
</div>
<div class="comments">
	<p></p>
</div>
{% endblock %}